<!--Description template -->
<ng-template #description>
  <div class="row">
    <div class="col-12 car-info order-1 order-md-0">
      <div class="row row-cols-2 d-md-flex d-none">
        <div class="col car-info-register">
          <fa-icon [icon]="faCalendar"></fa-icon>
          <span class="small-text">09.2019</span>
        </div>
        <div class="col car-info-km">
          <fa-icon [icon]="faRoad"></fa-icon>
          <span class="small-text">{{data.mileage}}KM</span>
        </div>
      </div>
      <div class="row row-cols-1 d-md-none">
        <div class="col">
          <span class="small-text">09.2019 | </span> <span class="small-text">{{data.mileage}}KM</span>
        </div>
      </div>
    </div>
    <div class="col-12 car-rating order-0 order-md-1">
      <div class="row row-cols-2">
        <div class="col car-rating-plate title-text">1'234.-CHF</div>
        <div class="col car-rating-star">{{data.rating.toFixed(2)}} / {{data.voted}} reviewers</div>
      </div>
    </div>
    <div class="col-12 car-day order-2 position-absolute order-md-2 text-right small-text">01.01.2019</div>
  </div>
</ng-template>

<!--Title template -->
<ng-template #title>
  <div class="row row-cols-2">
    <a routerLink="/{{data.id}}">
      <div class="col car-title-text title-text">{{data.make}}</div>
    </a>
    <div class="col car-title-heart text-right">
      <fa-icon [icon]="data.liked ?faStarLiked: faStarDisliked"></fa-icon>
    </div>
  </div>
</ng-template>


<div class="container-fluid car-container">
  <div class="row flex-md-row flex-sm-column p-1">
    <div class="col-sm-12 order-0 car-title d-md-none mb-1">
      <ng-container [ngTemplateOutlet]="title"></ng-container>
    </div>
    <div class="col-sm-12 order-1 order-md-0 col-md-3">
      <ngb-carousel [interval]="0" *ngIf="times.length">
        <ng-template ngFor [ngForOf]="times" let-item>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <app-picture [id]="data.id" [index]="item"></app-picture>
            </div>
          </ng-template>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-sm-12 order-2 d-md-none car-description">
      <ng-template [ngTemplateOutlet]="description"></ng-template>
    </div>
    <div class="col-md-9 d-none d-md-block">
      <div class="car-title">
        <ng-container [ngTemplateOutlet]="title"></ng-container>
      </div>
      <div class="car-description">
        <ng-template [ngTemplateOutlet]="description"></ng-template>
      </div>
    </div>
  </div>
</div>
