@import "~src/variables";

.car-detail {
  &-equipment-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;
    @include media-breakpoint-down(md) {
      height: 150px;
    }

    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }

  &-company-info {
    @include media-breakpoint-down(md) {
      .title-text {
        line-height: 1;
      }
      .small-text {
        line-height: 0;
      }
    }
  }

  &-container {
    .small-image {
      width: 22%;
      @include media-breakpoint-down(md) {
        width: 48%;
      }

      @include media-breakpoint-down(sm) {
        width: 30%;
        &:last-child {
          display: none;
        }
      }
    }

    .big-image {
      margin-bottom: 0.5em;
    }
  }
}
