<ng-template #galeryModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Galery</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-carousel [interval]="0" *ngIf="times.length">
      <ng-template ngFor [ngForOf]="times" let-item>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <ng-container [ngTemplateOutlet]="picture" [ngTemplateOutletContext]="{
              id: data.id,
              index:item
            }"></ng-container>
          </div>
        </ng-template>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #smallImages>
  <div class="small-image" *ngFor="let i of times | slice:1:5">
    <ng-container [ngTemplateOutlet]="picture" [ngTemplateOutletContext]="{
      id: data.id,
      index:i
    }"></ng-container>
  </div>
</ng-template>

<ng-template #picture let-id="id" let-index="index">
  <app-picture [id]="id" [index]="index" [clickable]="true"
               (click)="openGalery(galeryModal)"></app-picture>
</ng-template>

<ng-template #contactButtons>
  <div class="btn-toolbar flex-nowrap">
    <a type="button" [href]="'mailto:'+data.sellerEmail" class="btn w-50 btn-outline-primary">
      <fa-icon [icon]="faMail"></fa-icon>
      Mail
    </a>
    <a type="button" [href]="'tel:'+data.sellerPhone" class="btn w-50 btn-outline-primary ml-1">
      <fa-icon [icon]="faCall"></fa-icon>
      Call
    </a>
  </div>
</ng-template>

<ng-template #seller>
  <div class="col d-md-none d-lg-flex d-sm-flex">
    <p class="title-text">Seller</p>
  </div>
</ng-template>

<ng-template #companyInfo>
  <p class="title-text">{{data.sellerCompany}}</p>
  <p class="small-text">{{data.sellerName}}</p>
</ng-template>

<div class="container car-detail-container">
  <div class="row row-cols-2 mt-2 mb-2 justify-content-between">
    <div class="col">
      <button *ngIf="prev > 0" class="btn btn-prev btn-outline-primary" (click)="clickPrev()"><
        <span class="d-none d-md-inline-block">Previous</span>
      </button>
    </div>
    <div class="col text-right">
      <button *ngIf="next <= total" class="btn btn-next btn-outline-primary" (click)="clickNext()">>
        <span class="d-none d-md-inline-block">Next</span>
      </button>
    </div>
  </div>
  <div class="row row-cols-lg-2 row-cols-md-1 row-cols-1">
    <div class="col car-detail-images">
      <div class="row row-cols-1 row-cols-md-2 justify-content-center">
        <div class="col">
          <div class="big-image">
            <ng-container [ngTemplateOutlet]="picture" [ngTemplateOutletContext]="{
              id: data.id,
              index: 1
            }"></ng-container>
          </div>
        </div>
        <div class="col d-lg-none justify-content-between d-flex flex-wrap">
          <ng-template [ngTemplateOutlet]="smallImages"></ng-template>
        </div>
      </div>
      <div class="row row-cols-1">
        <div class="col justify-content-between d-none d-lg-flex">
          <div class="small-image" *ngFor="let i of times | slice:1:4">
            <ng-container [ngTemplateOutlet]="picture" [ngTemplateOutletContext]="{
              id: data.id,
              index:i
            }"></ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row row-cols-1">
        <div class="col">
          <p class="title-text">{{data.make}}</p>
        </div>
      </div>
      <div class="row row-cols-lg-1 row-cols-md-3 flex-wrap-reverse flex-md-wrap">
        <div class="col">
          <fa-icon [icon]="faCalendar"></fa-icon>
          <span class="small-text">09.2019</span>
        </div>
        <div class="col text-lg-left text-md-center">
          <fa-icon [icon]="faRoad"></fa-icon>
          <span class="small-text">20.000KM</span>
        </div>
        <div class="col-sm-1 text-right title-text text-lg-left text-md-right">
          <p>1'234.-CHF</p>
        </div>
      </div>
      <div class="row row-cols-1 d-none d-lg-flex">
        <ng-template [ngTemplateOutlet]="seller"></ng-template>
        <div class="col car-detail-company-info">
          <ng-template [ngTemplateOutlet]="companyInfo"></ng-template>
        </div>
        <div class="col">
          <ng-template [ngTemplateOutlet]="contactButtons"></ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 mt-3">
    <div class="col car-detail-equipment">
      <div class="row row-cols-1">
        <div class="col">
          <p class="title-text">Equipment</p>
        </div>
        <div class="col">
          <ul class="pl-0 car-detail-equipment-list">
            <ng-template ngFor [ngForOf]="data.equipment" let-item>
              <li class="d-inline-block w-25 car-detail-equipment-item small-text">- {{item}}</li>
            </ng-template>
          </ul>
        </div>
      </div>
      <div class="row row-cols-1">
        <div class="col">
          <p class="title-text">Description</p>
        </div>
        <div class="col">
          <p class="small-text">{{data.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-md-none d-sm-flex row-cols-1 mt-3">
    <ng-template [ngTemplateOutlet]="seller"></ng-template>
    <div class="col car-detail-company-info">
      <ng-template [ngTemplateOutlet]="companyInfo"></ng-template>
    </div>
  </div>
</div>
<footer class="footer d-lg-none">
  <div class="container">
    <div class="row row-cols-md-2">
      <div class="col">
        <ng-template [ngTemplateOutlet]="contactButtons"></ng-template>
      </div>
      <div class="col d-none d-md-flex flex-md-column car-detail-company-info">
        <ng-template [ngTemplateOutlet]="companyInfo"></ng-template>
      </div>
    </div>
  </div>
</footer>
