<div class="container-fluid">
  <div class="row row-cols-1">
    <div class="col">
      Sorting:
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle w-100" type="button"
                id="SortingMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Default
        </button>
        <div class="dropdown-menu" aria-labelledby="SortingMenuButton">
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 mt-2">
    <div class="col">
      Rating
      <div class="checkboxes d-flex flex-wrap">
        <div class="input-group align-items-center w-50">
          <input type="checkbox" aria-label="Checkbox for following text input"><span class="ml-2">1</span>
        </div>
        <div class="input-group align-items-center w-50">
          <input type="checkbox" aria-label="Checkbox for following text input"><span class="ml-2">2</span>
        </div>
        <div class="input-group align-items-center w-50">
          <input type="checkbox" aria-label="Checkbox for following text input"><span class="ml-2">3</span>
        </div>
        <div class="input-group align-items-center w-50">
          <input type="checkbox" aria-label="Checkbox for following text input"><span class="ml-2">4</span>
        </div>
        <div class="input-group align-items-center w-50">
          <input type="checkbox" aria-label="Checkbox for following text input"><span class="ml-2">5</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 mt-2">
    <div class="col">
      Registration
      <div class="row row-cols-2">
        <div class="col pr-0">
          <button class="btn btn-outline-primary dropdown-toggle w-100" type="button"
                  id="FromMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            From
          </button>
          <div class="dropdown-menu" aria-labelledby="FromMenuButton">
          </div>
        </div>
        <div class="col pl-0">
          <button class="btn btn-outline-primary dropdown-toggle w-100" type="button"
                  id="ToMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            To
          </button>
          <div class="dropdown-menu" aria-labelledby="ToMenuButton">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 mt-2">
    <div class="col">
      Prices
      <div class="row row-cols-2">
        <div class="col pr-0">
          <button class="btn btn-outline-primary dropdown-toggle w-100" type="button"
                  id="priceFromMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            From
          </button>
          <div class="dropdown-menu" aria-labelledby="priceFromMenuButton">
          </div>
        </div>
        <div class="col pl-0">
          <button class="btn btn-outline-primary dropdown-toggle w-100" type="button"
                  id="priceToMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            To
          </button>
          <div class="dropdown-menu" aria-labelledby="priceToMenuButton">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
