/* You can add global styles to this file, and also import other style files */
@import "variables";

.small-text {
  font-size: $small-text-font-size;
  color: $small-text-color;
}

.title-text {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

.ng-fa-icon {
  margin-right: 0.4em;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 60px;
  background-color: $footer-background-color;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
