@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 748px,
  lg: 992px,
  xl: 1200px
);

$theme-colors: (
  success: #6557f5
);

$title-font-size: 1.1rem;
$title-font-weight: 500;

$small-text-font-size: 0.8rem;
$small-text-color: gray;

$footer-background-color: #f5f5f5;
